<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UploadPage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'home.css' %}? v={{ STATIC_VERSION }}">
        <script>
            function validateImage() {
                const fileInput = document.getElementById('Image');
                const filePath = fileInput.value;
                const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                if (!allowedExtensions.exec(filePath)) {
                    alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
                    fileInput.value = '';
                    return false;
                } else {
                    if (fileInput.files && fileInput.files[0]) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            document.getElementById('imagePreview').innerHTML = '<img src="' + e.target.result + '" width="200" />';
                        };
                        reader.readAsDataURL(fileInput.files[0]);
                    }
                }
                return true;
            }
        </script>
    </head>
    <body>
        <div class="ocr">
            <form onsubmit="return validateImage()"  method="POST" enctype="multipart/form-data" action="{% url 'extract_text' %}">
                {% csrf_token %}
                <h1>ViciOCR</h1>
                    <input type="text" id="visitor_name" name="visitor_name" placeholder="Name" required class="styled-input"><br>
                <p for="date_of_visiting"><b>Date and Time of Visiting</b></label><br><br>
                    <input type="datetime-local" id="date_of_visiting" name="date_of_visiting" placeholder="Date of Visiting" required class="styled-input"><br>
                    <input type="text" id="duration_of_visiting" name="duration_of_visiting" placeholder="Duration of Visiting" required class="styled-input"><br><br>
                <p><b>Select the type of card you want to upload</b></p>
                    <input type="radio" name="Card" id="Aadhar" value="Aadhar" required><label>Aadhaar card</label>&nbsp;&nbsp;
                    <input type="radio" name="Card" id="Pan" value="Pan" required><label>Pan card</label><br><br>
                <p><b>Upload the image to extract details</b></p>
                    <input type="file" id="Image" name="image" required><br><br><br>
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>